<!DOCTYPE html>
<html>

<head>

<title>NGOs</title>

<style>

body{
    font-family:Arial;
    background:#f4f4f4;
    margin:40px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
}

th{
    background:#2E8B57;
    color:white;
}

a{
    text-decoration:none;
    background:#2E8B57;
    color:white;
    padding:10px 18px;
    border-radius:5px;
}

</style>

</head>

<body>

<h1>Registered NGOs</h1>

<table>

<tr>

<th>ID</th>

<th>NGO</th>

<th>Email</th>

</tr>

{% for ngo in ngos %}

<tr>

<td>{{ ngo.id }}</td>

<td>{{ ngo.ngo_name }}</td>

<td>{{ ngo.email }}</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/admin/dashboard">Back</a>

</body>

</html>